            @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                
            }
            body{
                background: linear-gradient(to right, #000000, #101920)
            }
            .logo{
                max-width: 100%;
                width: 650px;
                max-height: auto;
                padding: 10px;
            }
            .header{
                margin: 20px 0 40px 0;
                display: flex;
                justify-content: center;
                color: #536279;
                text-align: center;
                font-size: 10px;
                font-family: "Questrial", sans-serif;
                text-shadow: 3px 3px 10px #50738f;
            }

            .divjames{
                background-image: url(../img/james.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 60vh;
                height: 30vw;
               
                
            }

            .colinassilenciosas{
                font-family: "Questrial", sans-serif;
                text-shadow: 3px 3px 10px #314a5d;
                color: #ffffff;
                font-size: 20px;
                text-align: center;
                display: flex;
                justify-content: center;
                margin: 50px 70px;
            }

            @keyframes pulseShadow {
            0% {
                box-shadow: 4px 4px 15px #324653;
            }
            25% {
                box-shadow: 4px 4px 17px #324653;
            }
            50% {
                box-shadow: 4px 4px 20px #324653;
            }
            75% {
                box-shadow: 4px 4px 17px #324653;
            }
            100% {
                box-shadow: 4px 4px 15px #324653;
            }
            }
            
            .mary{
                width: 150px;
                max-width: 100%;
                border-radius: 9px;
                padding: 10px;
                animation: pulseShadow 1s infinite;
            }
            
            .marysletter{
                font-family: "Courgette", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 17px;
                color: #425d72;
                font-weight: bold;
            }

            .welcomesilenthill{
                font-family: "Questrial", sans-serif;
                text-shadow: 3px 3px 10px #314a5d;
                color: #ffffff;
                font-size: 20px;
                text-align: center;
                margin: 50px 70px;
            }

            .divimagemsh{
                display: flex;
                justify-content: center;
                margin: 40px 0 20px 0;
                padding: 10px 10px;
                background-color: #101920;
            }

            .shimg{
                max-width: 100%;
                height: 500px;
                width: auto;
                border-radius: 10px;
                box-shadow: 3px 3px 15px #20313d;
                object-fit: cover;
            }

            .ok{
                font-family: "Courgette", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 17px;
                color: #425d72;
                font-weight: bold;
            }

            .rodape{
                background-color: black;
                color: #ffffff;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Questrial", sans-serif;
            }
            